.title {
  font: 300 26px Roboto;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.error {
  font: normal 15px Roboto;
  text-align: center;
  color: #ff001f;
  margin-bottom: 30px;
}

.field {
  margin: 15px 0;
}

.description {
  font: normal 16px/24px Roboto;
  margin-bottom: 30px;
  text-align: center;
  color: #6e7987;
}

.checkbox {
  margin: 30px 0;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font: normal 15px Roboto;
}

.phoneHint {
  color: #000;
  font: normal 12px Roboto;
  margin: -12px 0 15px 5px;
}

.dob {
  color: #000;
  background-color: #fff;
  font: normal 15px Roboto;
  border: 1px solid #dbdfe4;
  border-radius: 4px;
  outline: none;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  transition: 0.1s linear all;
  margin-top: 15px;
}

.select {
  color: #000;
  background-color: #fff;
  font: normal 15px Roboto;
  border: 1px solid #dbdfe4;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  transition: 0.1s linear all;
}
