.sidebar {
  background-color: #f8f9fa;
  height: 100%;
}

.close {
  display: none;

  @media only screen and (max-width: 480px) {
    display: block;
    position: absolute 36px 26px * *;
    z-index: 1;
  }
}

.logo {
  margin: 0 0 40px 18px;

  & > img {
    size: 135px;
  }
}

.link {
  display: block;
  margin: 20px 0;
  font: normal 16px Roboto;
  color: #6e7987;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s linear all;

  &:hover {
    color: #da0812;
  }

  &.active {
    color: #da0812;
    font: bold 16px Roboto;

    &:hover {
      cursor: default;
      pointer-events: none;
    }
  }
}

.activeLink {
  composes: link;
  color: #da0812;
  font: bold 16px Roboto;

  &:hover {
    cursor: default;
    pointer-events: none;
  }
}

.disabled {
  composes: link;
  pointer-events: none;
  color: #ababab;
}

.socials {
  margin: 20px 0 0 -10px;

  & > a {
    margin: 0 10px;

    & > img {
      size: 24px;
    }
  }

  @media only screen and (min-height: 600px) {
    position: absolute * * 20px *;
    margin: 0 -10px;
  }
}

.signOut {
  margin-top: 55px;
}
